<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add Transaction Details</title>
</head>
<body>
	{% if method == "post" %}	
		<form action="add" method="POST">{% csrf_token %}
			<label for="fname">Account No: </label><br>
		  	<input type="number" id="fname" name="account_no"><br>
			<label for="fname">Date: </label><br>
		  	<input type="date" id="fname" name="date" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31"><br>
		  	<label for="lname">Transaction Details:</label><br>
		  	<input type="text" id="lname" name="transaction_Details"><br>
			<label for="fname">Value Date: </label><br>
		  	<input type="date" id="fname" name="value_date" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31"><br>
			<label for="fname">Withdrawal Amount: </label><br>
		  	<input type="number" id="fname" name="withdrawal_amt" step="0.01"><br>
			<label for="fname">Deposit Amount: </label><br>
		  	<input type="number" id="fname" name="deposit_amt" step="0.01"><br>
			<label for="fname">Balance Amount: </label><br>
		  	<input type="number" id="fname" name="balance_amt" step="0.01"><br>
		  	<input type="submit" value="Submit">
		</form>
	{% else %}
		Details Added: <br>
		{{ new_details }} 
	{% endif %}
</body>
</html>